.bookContainer {
  display: flex;
  flex-direction: column;
}

.imageBckg {
  background-color: #f4eefd;
}

.image {
  margin: 0 auto;
}

.title {
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 8px;
  margin-top: 20px;
}

.author {
  font-size: 16px;
  line-height: 150%;
  font-family: var(--my-font-heliosRegular);
  color: #a8a8a8;
  margin-top: auto;
  margin-bottom: 40px;
}

.price {
  font-size: 24px;
  line-height: 133%;
  font-family: var(--my-font-bebas);
}
