.imageBckg {
  background-color: #f4eefd;
}

.heading {
  font-size: 24px;
  line-height: 133%;
  margin-top: 20px;
}

.author {
  font-size: 16px;
  line-height: 150%;
  font-family: var(--my-font-heliosRegular);
  color: #a8a8a8;
  margin-bottom: 40px;
}

.price {
  font-size: 24px;
  line-height: 133%;
  font-family: var(--my-font-bebas);
}
