html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #313037;
  font-size: 100%;
  font-weight: normal;
  font-family: var(--my-font-bebas);
}

ul,
ol {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}
svg {
  display: block;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
