.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 72px;
}

.form {
  position: relative;
  flex-grow: 1;
  max-width: 542px;
}

.iconsGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconsGroupItem {
  padding: 20px;
}
